@tailwind base;
@tailwind components;
@tailwind utilities;

#responsive-canvas {
    width: 100%;
}

.html {
    height: 100%;
}

.custom-fade-in {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

img.clear-button {
    width: 70px;
    height: auto;
    cursor: pointer;
}

@media (max-width: 600px) {
    /* Adjust the size for smaller screens*/
    img.clear-button {
        width: 40px;
    }
}

@layer utilities {
    .h-calc-vh {
        height: calc(100vh - 384px);
    }
}
