@tailwind base;
@tailwind components;
@tailwind utilities;

#responsive-canvas {
    width: 100%;
}

.html {
    height: 100%;
}

@layer utilities {
    .h-calc-vh {
        height: calc(100vh - 384px);
    }
}
